{% extends "pluckedsite/base.html" %}
{% load static %}

{% block content %}
<!-- Top Background Image Wrapper -->
<div class="bgded overlay light" style="background-image:url(https://bibletruths.s3.eu-west-2.amazonaws.com/images/sky.jpg); background-size: cover;"> 
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="fl_left"> 
        <!-- ################################################################################################ -->
        <ul class="nospace">
       
          <li><i class="fa fa-envelope-o"></i>Pocontact@pluckedout.co.uk</li>
        </ul>
        <!-- ################################################################################################ -->
      </div>
      <div class="fl_right"> 
        <!-- ################################################################################################ -->
        <ul class="nospace">
          <li><a class="faicon-youtube" href="https://www.youtube.com/channel/UC7rBhXHqiTS1aSU75DVevAQ?view_as=subscriber"><i class="fa fa-youtube"></i></a></li>
        </ul>
        <!-- ################################################################################################ -->
      </div>
      <!-- ################################################################################################ -->

    </div>
    <div id="breadcrumb" class="hoc clear"> 
    <!-- ################################################################################################ -->
    
    <!-- ################################################################################################ -->
  </div>

  </div>
  
{% endblock %}

{% block bodycontent %}

<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body --> 
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->

      <div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="group excerpt">
      <h1 style="text-align: center; color: black;">Free bible study</h1>
      <br>
      <p style="text-align: center; color: black;">For all Studies with a "(B)" please complete them before asking to be baptised, as we are instructed to teach before baptism. <br>Matthew 28:19 Go ye therefore, and <strong style="color: red">teach</strong> all nations, <strong style="color: red">baptizing</strong> them in the name of the Father, and of the Son, and of the Holy Ghost</p> <p style="text-align: center; color: black;">Please email all studies to POcontact@pluckeout.co.uk</p>
      <br>
      <article class="one_third first"><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld1.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--lesson-1.pdf" style="text-align: center">Download (B)</a></p></footer>
      </article>

       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld2.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--lesson-2.pdf" style="text-align: center">Download</a></p></footer>
      </article>
       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld3.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--lesson-3.pdf" style="text-align: center">Download</a></p></footer>
      </article>

<article class="one_third first"><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld4.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-4.pdf" style="text-align: center">Download</a></p></footer>
      </article>

       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld5.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-5.pdf" style="text-align: center">Download</a></p></footer>
      </article>
       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld5.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-6.pdf" style="text-align: center">Download</a></p></footer>
      </article>

<article class="one_third first"><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld7.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-7.pdf" style="text-align: center">Download (B)</a></p></footer>
      </article>

       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld8.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-8.pdf" style="text-align: center">Download</a></p></footer>
      </article>
       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld9.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-9.pdf" style="holy love which leads the wife to gratify the animal propensities of her husband at the expense of health and liftext-align: center">Download (B)</a></p></footer>
      </article>

<article class="one_third first"><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld10.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-10.pdf" style="text-align: center">Download (B)</a></p></footer>
      </article>

       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld11.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-11.pdf" style="text-align: center">Download</a></p></footer>
      </article>
       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld12.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-12.pdf" style="text-align: center">Download (B)</a></p></footer>
      </article>

<article class="one_third first"><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld13.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-13.pdf" style="text-align: center">Download (B)</a></p></footer>
      </article>

       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld14.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-14.pdf" style="text-align: center">Download</a></p></footer>
      </article>
       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld15.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-15.pdf" style="text-align: center">Download</a></p></footer>
      </article>

<article class="one_third first"><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld16.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-16.pdf" style="text-align: center">Download</a></p></footer>
      </article>

       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld17.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-17.pdf" style="text-align: center">Download (B)</a></p></footer>
      </article>
       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld18.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-18.pdf" style="text-align: center">Download</a></p></footer>
      </article>

<article class="one_third first"><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld19.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-19.pdf" style="text-align: center">Download (B)</a></p></footer>
      </article>

       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld20.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-20.pdf" style="text-align: center">Download (B)</a></p></footer>
      </article>
       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld21.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-21.pdf" style="text-align: center">Download</a></p></footer>
      </article>

<article class="one_third first"><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld22.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-22.pdf" style="text-align: center">Download</a></p></footer>
      </article>

       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld23.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-23.pdf" style="text-align: center">Download</a></p></footer>
      </article>
       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld24.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-24.pdf" style="text-align: center">Download</a></p></footer>
      </article>

<article class="one_third first"><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld25.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-25.pdf" style="text-align: center">Download (B)</a></p></footer>
      </article>

       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld26.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-26.pdf" style="text-align: center">Download (B)</a></p></footer>
      </article>
       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld27.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-27.pdf" style="text-align: center">Download</a></p></footer>
      </article>

    </div>

<article class="one_third first"><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld28.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-28.pdf" style="text-align: center">Download</a></p></footer>
      </article>

       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld29.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-29.pdf" style="text-align: center">Download</a></p></footer>
      </article>
       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld30.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-30.pdf" style="text-align: center">Download</a></p></footer>
      </article>
<article class="one_third first"><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld31.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-31.pdf" style="text-align: center">Download</a></p></footer>
      </article>

       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld32.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-32.pdf" style="text-align: center">Download (B)</a></p></footer>
      </article>
       <article class="one_third "><img src="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/ld33.png" class="imgover btmspace-30" width="320" height="240">
        <footer><p style="text-align: center;"><a href="https://bibletruths.s3.eu-west-2.amazonaws.com/biblestudies/The_Last_Days--Lesson-33.pdf" style="text-align: center">Download</a></p></footer>
      </article>

    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

      <br>
      


     
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

{% endblock %}