{% load static %}
<!DOCTYPE html>

<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>PluckedOut</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'pluckedsite/framework.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'pluckedsite/layout.css' %}" rel="stylesheet" type="text/css" media="all">

</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
{% block content %}

{% endblock %}


  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="{% url 'index' %}">Plucked Out</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="{% url 'index' %}">Home</a></li>
          <li><a class="drop" href="#">Prophecy</a>
            <ul>
              <li><a href="{% url 'construction' %}">Who is antichrist?</a></li>
              <li><a href="{% url 'resources' %}">Prophecy resources</a>           
              </li>
            </ul>

          </li>
          <li><a class="drop" href="#">Studies</a>
            <ul>
              
              <li><a class="drop" href="#">Fundamentals</a>
                <ul>
                  <li><a href="{% url 'prayer' %}">Prayer</a></li>
                  <li><a href="{% url 'israel' %}">Who is israel?</a></li>
                  <li><a href="{% url 'stateofthedead' %}">State of the dead</a></li>

                  
                </ul>
                
                <li><a class="drop" href="#">False doctrine</a>
                <ul>
                  <li><a href="{% url 'trinity' %}">The trinity?</a></li>
                  <li><a href="{% url 'hellfire' %}">Burning forever?</a></li>
                </ul>

                <li><a href="{% url 'ldstudies' %}">Free bible study</a>
                </li>
               
              </li>
           
              
            </ul>
          </li>
          <li><a href="{% url 'construction' %}">Symbol Search</a></li>
          <li><a href="{% url 'meeting' %}">Join us</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>


{% block bodycontent %}

{% endblock %}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="#">Plucked Out</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static 'pluckedsite/jquery.min.js' %}"></script>
<script src="{% static 'pluckedsite/jquery.backtotop.js' %}"></script>
<script src="{% static 'pluckedsite/jquery.mobilemenu.js' %}"></script>
</body>
</html>