{% extends "pluckedsite/base.html" %}
{% load static %}



{% block content %}
<!-- Top Background Image Wrapper -->
<div class="bgded overlay light" style="background-image:url('{% static 'pluckedsite/images/bg2.jpg' %}');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="fl_left"> 
        <!-- ################################################################################################ -->
        <ul class="nospace">
       
          <li><i class="fa fa-envelope-o"></i>Pocontact@pluckedout.co.uk</li>
        </ul>
        <!-- ################################################################################################ -->
      </div>
      <div class="fl_right"> 
        <!-- ################################################################################################ -->
        <ul class="nospace">
          <li><a class="faicon-youtube" href="https://www.youtube.com/channel/UC7rBhXHqiTS1aSU75DVevAQ?view_as=subscriber"><i class="fa fa-youtube"></i></a></li>
        </ul>
        <!-- ################################################################################################ -->
      </div>
      <!-- ################################################################################################ -->
    </div>
  </div>



{% endblock %}



  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  {% block bodycontent %}

  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <h3 class="heading">Finishing the Eleventh Hour Movement</h3>
      <p>Zechariah 3:2 And the Lord said unto Satan, The Lord rebuke thee, O Satan; even the Lord that hath chosen Jerusalem rebuke thee: is not this a brand plucked out of the fire?</p>
      <footer><a class="btn" href="{% url 'statement' %}">Statement of Faith</a></footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="group excerpt">
      <h1 style="text-align: center; color: black;">They've always said the same thing!</h1>
      <article class="one_third first"><a class="imgover btmspace-30" href="https://en.wikipedia.org/wiki/Martin_Luther"><img src="{% static 'pluckedsite/images/Martin_luther.jpg' %}" width="320" height="240"></a>
        <h6 class="heading">Martin Luther</h6>
        <p>"We here are of the conviction that the papacy is the seat of the true and real Antichrist...personally I declare that I owe the Pope no other obedience than that to Antichrist."  (Aug. 18, 1520) Taken from The Prophetic Faith of Our Fathers, Vol. 2., pg. 121 by Froom.</p>
        <footer><a href="https://documents.adventistarchives.org/Books/PFOF1948-V02.pdf">Find out more &raquo;</a></footer>
      </article>
      <article class="one_third"><a class="imgover btmspace-30" href="https://en.wikipedia.org/wiki/John_Wesley"><img src="{% static 'pluckedsite/images/john_wesley.jpg' %}" width="320" height="240"></a>
        <h6 class="heading">John Wesley </h6>
        <p>"In many respects the Pope has an indisputable claim to these titles. He is in an emphatical sense, the Man of Sin, as he increases all manner of sin above measure. And he is, too, properly styled the Son of Perdition, as he has caused the death of numberless multitudes..." Taken from Explanatory Notes Upon the New Testament by John Wesley &hellip;</p>
        <footer><a href="https://jacobjuncker.files.wordpress.com/2010/03/wesley-explanatory-notes-on-the-bible.pdf">Find out more &raquo;</a></footer>
      </article>
      <article class="one_third"><a class="imgover btmspace-30" href="https://www.remnantofgod.org/EGW.htm"><img src="{% static 'pluckedsite/images/Ellen_white.png' %}" width="320" height="240"></a>
        <h6 class="heading">Ellen G. White</h6>
        <p>"This compromise between paganism and Christianity resulted in the development of <b>the man of sin</b> foretold in prophecy as opposing and exalting himself above God. That gigantic system of false religion is a masterpiece of Satan's power--a monument of his efforts to seat himself upon the throne to rule the earth according to his will.&hellip;" Spirit of prophecy volume IV</p>
        <footer><a href="https://www.remnantofgod.org/books/docs/SOP/SOPv4.pdf">Find out more &raquo;</a></footer>
      </article>
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

{% endblock %}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="#">Plucked Out</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static 'pluckedsite/jquery.min.js' %}"></script>
<script src="{% static 'pluckedsite/jquery.backtotop.js' %}"></script>
<script src="{% static 'pluckedsite/jquery.mobilemenu.js' %}"></script>
</body>
</html>