{% extends "pluckedsite/base.html" %}
{% load static %}
{% block content %}

	<!--header showcase-->
	<header id="showcase" class="grid">

		
		

			<div class="bg-image"></div>
			<!--
			<div>
			<h4 class="animated fadeInUp" style="animation-delay: 1s">Plucked Out</h4>
			<h6 class="animated fadeInUp" style="animation-delay: 1.5s">...is not this a brand plucked out of the fire? - Zechariah 3:2</h6>
			</div>
		-->
			
		</header>
	
		<!--Main showcase-->
		<main id="main">
			<!--section A-->
			
			<section id="section-a">
				<div></div>
				
				
				
				
				<div class="content-wrap">
					
					<h2 class="content-title">
						Revelation 14:6-7
					</h2>
					<p>
						And I saw another angel fly in the midst of heaven, having the everlasting gospel to preach unto them that dwell on the earth, and to every nation, and kindred, and tongue, and people, Saying with a loud voice, Fear God, and give glory to him; for the hour of his judgment is come: and worship him that made heaven, and earth, and the sea, and the fountains of waters.
					</p>

					<p>
						With the fulfillment of Daniel's 2300 day prophecy, Christ has entered into the most Holy Place in Heaven.
						The first angel warns us that the Investigative judgement has begun and every case right now is being decided for life or death. This is the time to repent for the kingdom of Heaven is at hand. 
					</p>
				</div>
				
				
			</section>
			

			<!--section B-->
			<section id="section-b" class="grid-b">
				<div class="content-wrap">
					<h2 class="content-title">
						Revelation 14:8
					</h2>
					<p>
						And there followed another angel, saying, Babylon is fallen, is fallen, that great city, because she made all nations drink of the wine of the wrath of her fornication.

						
					</p>

					<p>
						The Harlot church Babylon (the papacy) has fallen, God will soon judge her, for strong is the Lord who judgeth her. The Second angel warns us of the spiritual state of the nations, and the churches due to the doctrines of this Harlot church. By becoming a habitation of apostasy, the spiritual state of the nations and the churches have been made drunk.
					</p>
				</div>
				
				
			</section>

			<!--section C-->
			<section id="section-c">
				<div></div>
				<div class="content-wrap">
					<h2 class="content-title">
						Revelation 14:9-10
					</h2>
					<p>
						 And the third angel followed them, saying with a loud voice, If any man worship the beast and his image, and receive his mark in his forehead, or in his hand, the same shall drink of the wine of the wrath of God, which is poured out without mixture into the cup of his indignation; and he shall be tormented with fire and brimstone in the presence of the holy angels, and in the presence of the Lamb.

 					</p>

 					<p>
						The Third angel warns that if any man worships the beast (the papacy) or his image (church and state USA), by placing the commandments of the apostate church above the commandments of God, the same shall be found in the lake of fire, and they will not be found in the Holy City.
						</p>
				</div>
			</section>

			<!--footer-->
			<footer id="main-footer" class="grid">
				<ul>
					<a href="https://www.youtube.com/channel/UC7rBhXHqiTS1aSU75DVevAQ"><i class="fab fa-youtube fa-2x"></i></a>
				</ul>
				<div>Copyright © 2020 Pluckedout.co.uk</div>
			</footer>

{% endblock %}